.page-no-panels .ding2-site-template .content-wrapper {
    background-image: none;
}

.ding2-site-template  .site-header  .navigation-wrapper {
    top: 0px;
    position: relative;
    box-shadow: none;
}

.search-form-extended.admin-menu-with-shortcuts .ding2-site-template  .site-header .navigation-wrapper {
    top: 15px;
}

body.search-form-extended.extended-search-is-not-open {
    padding-top: 0px !important;
}

.ding2-site-template  .site-header > .navigation-wrapper .navigation-inner {
    max-width: 1356px;
}

.page-no-panels .ding2-site-template .content-wrapper > .content-inner {
    max-width: 1356px;
}

.logo {
	width: 110px;
	float: left;
	margin-right: 30px;
    margin-top: 5px;
}

.ding2-site-template .main-menu-wrapper > ul.main-menu > li {
    padding-top: 15px;
}

.has-search-dropdown .ding2-site-template  .site-header > .navigation-wrapper .navigation-inner .search-extended-button {
    display: none;
}

.has-search-dropdown .ding2-site-template  .site-header > .navigation-wrapper .navigation-inner {
    padding-right: 0px;
}

.ding2-site-template ul.main-menu > li a::after {
    bottom: 22px;
}

/* .site-header {
    border-bottom: 1px solid #B28282;
} */

.ding2-site-template .main-menu-wrapper > ul.main-menu > li {
    min-height: 74px;
}

.ding2-site-template ul.secondary-menu li {
    padding: 14px 0px 20px;
    font-size: 18px;
    font-family: FaktPro-SemiBold,sans-serif;
}

/** Search form */

.content-wrapper .simple-navigation-search-form .form-type-textfield{
    max-width: none;
    display: inline-block;
    width: 58.55%;
    margin-right: 1.95%;
}

.content-wrapper .simple-navigation-search-form  input[type="submit"] {
    width: 100%;
    background-color: #B28282;
    padding: 20px 15px 14px 55px;
}

.simple-navigation-search-form .form-actions {
	margin: 0;
	display: inline-block;
	width: 13.8%;

}

 .content-wrapper .simple-navigation-search-form input[type="text"] {
	background-color: white;
    border: 2px solid #B28282;
}

.simple-navigation-search-form {
	margin-left: 12px;
    margin-top: -21px;
}

.simple-navigation-search-form .select-wrapper {
    top:21px;
}

.simple-navigation-search-form .select-wrapper > select {
    border: 2px solid #B28282;
    padding-top: 15px;
}

.simple-navigation-search-form .select-wrapper::before {
    background-color: white;
    border-right: 2px solid #B28282;
}

.content-wrapper .simple-navigation-search-form .form-type-select{
    max-width: none;
    display: inline-block;
    width: 25%;
    margin-right: 0%;
}

.page-no-panels .ding2-site-template .content-wrapper > .content-inner {
    padding-top: 20px;
}

.search-form-extended.admin-menu .ding2-site-template  .site-header .navigation-wrapper {
    top: 15px;

}